body{
    font-size: 1.2em;
    font-family: Arial, 'Microsoft YaHei', SimSun, Verdana, sans-serif;
}
.fl{
    float: left;
}
.bannerSlide{
    overflow: hidden;
    margin-top: 10px;
    width: 1338px;
    margin: 0 auto;
}
.bannerSlide .main_div{
    width: 1338px;
    margin: 0 auto;
}
.bannerSlide .main_div .crumbs{
    width: 1338px;
    height: 30px;
    line-height: 31px;
    background: #4a4a4a;
    color: #fff;
    font-size: 15px;
    font-family: SimSun;
    font-weight: 600;
}
.bannerSlide .main_div .crumbs a{
    float: left;
    display: inline-block;
    width: 76px;
    background: #ff7900;
    height: 100%;
    line-height: 31px;
    text-align: center;
    color: #fff;
}
.crumbs span{
    float: left;
    letter-spacing: 1px;
}
.crumbs .forGt{
    display: inline-block;
    width: 10px;
    height: 30px;
    margin: 0 10px;
    background: url(../img/detail-cakeNavB.png) center no-repeat;
}
.crumbs .catesatn{
    white-space: nowrap;
    max-width: 950px;
    text-overflow: ellipsis;
    overflow: hidden
}
.bannerSlide .main_div .dealerDiv{
    width: 1294px;
    border: 1px solid #f0f0f0;
    margin: 0 auto;
    padding: 20px 20px;
    overflow: hidden;
}
.bannerSlide .main_div .dealer .dealerDiv .dealer-left{
    width: 400px;
}
/* 放大镜 */
.dealer .dealerDiv .jsder{
    position: relative;
}
 .dealerDiv .jsder .tb-booth{
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 1;
    height: 400px;
    width: 400px;
}
#objmask{
    height: 400px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    z-index: 10;
    position: absolute;
}
.dealerDiv .jsder .tb-booth #mask{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.6);
    display: none;
}
#jsder_show{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 400px;
    display: none;
    z-index: 1;
    overflow: hidden;
}
#jsder_show img{
    position: absolute;
    z-index:5;
}
.tb-pic a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: #000;
}
.dealerDiv .jsder .tb-pic a{
    height: 400px;
    width: 400px;
}
.dealerDiv .jsder .proImg{
    position: relative;
    margin: 15px 0 0 53px;
    width: 360px;
    height: 54px;
}
.dealerDiv .jsder .proImg .slides_container{
    position: relative;
    width: 360px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
}
.proImg .slides_container .tb-thumb{
    margin: 10px 0 0;
    overflow: hidden;
    width: 300px;
    margin-top: 0;
}
.tb-thumb li {
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: 52px;
    margin: 0 6px 6px 0;
    overflow: hidden;
    padding: 1px;
}
.tb-thumb .tb-selected {
    /* background: none repeat scroll 0 0 #ff7900; */
    height: 50px;
    border: 1px solid #CDCDCD;
}
.tb-thumb .tb-selected div {
    background-color: #FFFFFF;
    border: medium none;
    height: 50px !important;
    width: 50px !important;
}
.tb-thumb .tb-selected>.tb-pic>a{
    width: 50px;
    height: 50px;
}
.tb-thumb .tb-selected .tb-pic>a>img{
    vertical-align: middle;
    width: 50px;
}
.dealer .dealerDiv .share{
    position: relative;
    margin-top: 10px;
    color: #ccc;
    margin-left: 50px;
}
.dealerDiv .share .sharediv_left{
    display: inline-block;
    background: url(../img/detail-share1.png) 0 0 no-repeat;
    height: 15px;
    font-size: 12px;
    color: #6c6c6c;
    text-indent: 20px;
}
.dealerDiv .share .clos_line{
    margin: 0 25px;
    font-size: 16px;
    font-weight: 300;
}
.dealerDiv .share .sharediv_lefts {
    display: inline-block;
    background: url(../img/detail-share3.png) 0 0 no-repeat;
    width: 150px;
    height: 15px;
    font-size: 12px;
    color: #6c6c6c;
    text-indent: 20px;
}
.dealerDiv .dealer-right{
    width: 600px;
    overflow: hidden;
}
.dealer-right .introduce{
    display: block;
    width: 100%;
    line-height: 33px;
    font-family: "simsun";
    word-spacing: 2px;
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 600;
    text-indent: 10px;
}
.dealer-right .cost_div{
    width: 100%;
    font-size: 14px;
}
.dealer-right .cost_div .earnestMoney{
    width: 596px;
    height: 80px;
    background: #ffdfc2;
    line-height: 80px;
    text-indent: 20px;
    font-family: "simsun";
}
.earnestMoney .sortPrise span{
    float: left;
}
.earnestMoney .sortPrise .Money {
    font-size: 36px;
    color: #ff0000;
    line-height: 80px;
    font-family: "Microsoft Yahei";
}
.cost_div .collect{
    cursor: pointer;
    width: 92px;
    height: 80px;
    margin-left: 1px;
    display: inline-block;
    background: #fff1e4 url(../img/detail-dealer01.png) center 21px no-repeat;
    text-align: center;
    line-height: 120px;
}
.cost_div .collects{
    position: relative;
    width: 91px;
    height: 80px;
    margin-left: 1px;
    display: inline-block;
    background: #fff1e4 url(../img/detail-dealer02.png) center 21px no-repeat;
    text-align: center;
    line-height: 120px;
    cursor: pointer;
}
.dealer-right .deta_div{
    width: 100%;
    border-bottom: dashed #d2d2d2 1px;
    position: relative;
    padding: 10px 0;
}
.dealer-right .deta_div .deta_divtext{
    line-height: 35px;
    text-indent: 20px;
    font-family: "simsun";
    font-size: 12px;
    word-spacing: 12px;
    width: 100%;
}
.deta_div .date_divtext :nth-child(2) {
    margin-right: 25px;
}
.deta_div .serviceImg{
    height: 13px;
    float: right;
    position: absolute;
    top: 12px;
    right: 2px;
    cursor: pointer;
}
.dealer-right .select_Div{
    height: auto;
    padding-bottom: 23px;
    width: 96%;
    padding: 23px 22px 27px;
}
.dealer-right .select_Div p{
    width: 100%;
    height: auto;
    padding-top: 3px;
    margin-bottom: 32px;
}
.dealer-right .select_Div p span{
    margin-right: 15px;
    color: #333;
    font-family: \5b8b\4f53;
}
.dealer-right .select_Div .goodverson{
    display: block;
    width: 48px;
    line-height: 24px;
    float: left;
}
.dealer-right .select_Div .goodsSk .width_coll{
    margin-top: -8px;
    margin-right: -7px;
    border: #ff7900 2px solid;
    padding: 5px 10px ;
}
.dealer-right .select_Div .goodsSk .goodsstatus{
    width: 48px;
}
.dealer-right .select_Div .lin-hk{
    width: 100%;
    height: 31px;
    margin-top: 46px;
}
.select_Div .lin-hk span {
    height: 31px;
    line-height: 31px;
    float: left;
}
.select_Div .lin-hk .goodscount{
    width: 48px;
}
.select_Div .lin-hk .quantity{
    height: 31px;
    width: 82px;
    margin: 0 14px 0 5px;
    margin-left: 3px;
    position: relative;
}
.select_Div .lin-hk .quantity input.text{
    width: 57px;
    height: 29px;
    border: 1px solid #a7a6ac;
    text-indent: 2px;
    background: #fff;
}
.select_Div .lin-hk .quantity .buttonup{
    width: 16px;
    height: 12px;
    border: 1px solid #a7a6ac;
    background: #fff;
    background: url(../img/detail-btnup.jpg) center center no-repeat;
    -webkit-appearance: button;
    cursor: pointer;
    outline: none;
    position: relative;
    top: -2px;
    left: 0px;
}
.select_Div .lin-hk .quantity .buttondow{
    width: 16px;
    height: 12px;
    border: 1px solid #a7a6ac;
    background: url(../img/detail-btndow.jpg) center center no-repeat;
    -webkit-appearance: button;
    cursor: pointer;
    outline: none;
    display: block;
    position: relative;
    top: 0px !important;
    left: 3px !important;
}
.select_Div .lin-hk .limited{
    margin: -30px 0 0 151px;
}
.dealer-right .button {
    width: 418px;
    height: 61px;
    margin-left: 20px;
    overflow: hidden;
}
.dealer-right .button a {
    width: 200px;
    height: 61px;
    float: left;
    text-align: center;
    line-height: 61px;
    background: #ff7900;
    color: #fff;
    border-radius: 40px;
    /* font-family: "JZunYuan"; */
    font-family: "Microsoft YaHei";
    font-size: 20px;
}
.dealer-right .button .shoppingCar{
    background: #ff4747 url(../img/detail-button.png) 30px 12px no-repeat;
    float: right;
    text-indent: 40px;
}
.particularsTab {
    width: 1336px;
    margin: 12px auto 0;
    overflow: hidden;
}
.particularsTab .tb-a>a {
    width: 264px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-family: SimSun;
    float: left;
    color: #4a4a4a;
    background: #f9f7f8;
    cursor:pointer;
    color: #000 ;
}
.particularsTab .tb-a {
    border: 1px solid #e4e2e3;
    border-bottom: none;
}
.particularsTab .tb-a .background_Top {
    background: #ff7100;
    box-shadow: 0px -3px 0px #fd9641;
}
.particularsTab .tb-a .bordeLr {
    border-left: 1px solid #e4e2e3;
    border-right: 1px solid #e4e2e3;
}
.particularsTab .show{
    width: 1332px !important;
    overflow: hidden;
    border: 1px solid #f0f0f0;
    border-top: 4px solid #ff7100;
    margin-bottom: 10px;
    margin-left:1px;
}
.particularsTab .show .goodsInfo{
    padding: 10px;
    margin-bottom: 22px;
    border: 1px dashed #ccc;
    display: inline-block !important;
}
.particularsTab .show .goodsInfo ul{
    width: 100%;
    
}
.particularsTab .show .goodsInfo ul>li{
    float: left;
    width:200px;
    height: 20px;
    line-height: 20px;
}
.particularsTab .show .particulars1 {
    width: 100%;
    font-size: 22px;
    padding-bottom: 30px;
    display: none;
    margin-left: 100px;
}
.show .particulars1 .reviewData .Imgtext {
    text-align: center;
    margin-top: 60px;
}
.particularsTab .show .particulars1 img {
    display: block;
    margin: 0 auto;
}
.particularsTab .show .particulars1  p{
    display: block;
    height: 40px;
    margin: 8px auto;
    font-size: 30px;
    color: #ff7900;
}
.show .particulars1 .excuse {
    font-size: 14px;
    color: #4a4a4a;
    font-family: "SimSun";
    display: block;
    font-style: normal;
    margin-top: 20px;
    text-indent: 20px;
}
.show .particulars1 textarea {
    width: 999px;
    height: 160px;
    background-color: #f0f0f0;
    padding: 10px;
    border: none;
    margin: 10px 0 0 20px;
    text-indent: 10px;
    outline: none;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}
.dealerDiv .morepic{
    float: right;
}
.dealerDiv .morepic img{
    margin-left: 20px;
    display: block;
}
.dealerDiv .morepic img:nth-child(2){
    width: 250px;
    height: 200px;
}
.dealerDiv .morepic img:nth-child(3){
    width: 250px;
    height: 180px;
}
.deposit>span:nth-child(1){
    margin-left: 30px;
}