.container{
    padding-left: 155px;
    padding-top: 13px;
    font-family: "Microsoft YaHei" !important;
}
.container .title span{
    margin-left: 10px;
    font-size: 12px;
    color: rgb(93, 91, 91);
}
.container .memberbody{
    width: 90%;
    margin:20px 0 0 10px;
    border: 1px solid rgb(216, 219, 221);
}
.container .memberhead{
    width: 100%;
    padding: 13px 0;
    background: rgb(239, 245, 250);
    display: -webkit-flex;
    justify-content: flex-start;
}
.container .memberhead>div{
   width: 290px;
   text-align: center;
}
.memberinfor{
    padding: 8px 0px;
    display: -webkit-flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(216, 219, 221);
}
.container .memberinfor>div{
    width: 288px;
    text-align: center;
 }
 .memberinfor .address{
     width: 300px !important;
 }
 .heads{
     margin: 20px 10px 0 10px;
 }
 .blackname,.whitename{
     width: 30px !important;
     padding: 10px !important;
     background: black;
     color: white !important;
     margin-right: 20px !important;
     padding: 5px 7px !important;
     font-size: 14px;
 }
 .chose{
     background: black;
     color: white;
     padding: 5px 10px;
 }